<div class="ohohoh-box col-xs-10 col-xs-offset-1">
  <%= simple_form_for @test do |f| %>
    <%= f.input :name %>
    <%= f.input :idea %>
    <br />
    <%= f.submit 'Create', :class => "btn btn-warning" %>
  <% end %>
</div>